{{!< default}}
<div class="sidebar">
	<div class="inner-sidebar">
		<div class="sidebar-logo-cont" onclick="scrollFromSidebar('.splash')"><img class="sidebar-logo"
				src="/images/uts_cc_black.png">
		</div>
		<div class="sidelink-container">
			{{#each links}}
			<a class="sidelink" onclick="scrollFromSidebar('{{this.element}}')">{{this.displayText}}</a>
			{{/each}}
		</div>
	</div>
</div>
<div class="page-container" onclick="mainPageClickHandler(event)">
	<div class="navbar untouched">
		<div class="navbar-logo-cont" onclick="scrollToDiv('.splash')">
			<img class="navbar-logo" src="/images/uts_cc_trans.png">
		</div>
		<div class="navlink-container">
			{{#each links}}
			<a class="navlink" onclick="scrollToDiv('{{this.element}}')">{{this.displayText}}</a>
			{{/each}}
		</div>
		<i class="fas fa-bars hamburger" onclick="toggleSidebar()"></i>
	</div>
	<div class="splash">
		<img class="splash-img" src="{{images.building8.secure_url}}">
		<h1 class="splash-text-container">Welcome to <br class="lb-no-mobile">UTS Consulting Club</h1>
		<a class="scroll-down" onclick="scrollToDiv('.content-container')"><span class="arrow"></span></a>
		<div class="splash-cutout"></div>
		<div class="splash-overlay"></div>
	</div>

	<div class="content-container">
		<section class="grey">
			<h1 class="heading">Our Mission</h1><br>
			<div class="ms-container">
				<div class="mission-statement">
					<span class="ms-text">{{{static.MissionStatement}}}</span>
				</div>
				<div class="ms-image-cont"><img class="ms-image" src="{{images.MissionPhoto.secure_url}}"></div>
			</div>
		</section>
		<section class="white" id="whatwedo">
			<h1 class="heading">What we do</h1>

			<div class="wwd-container">
				{{#each WWD}}
				<div class="flip-container">
					<div class="card wwd" onclick="cardFlip(event)">
						<div class="face front">
							<div class="wwd-flex">
								<img class="wwd-icon" src="{{this.icon.secure_url}}" />
								<h3>{{this.title}}</h3>
							</div>
							<img src=" {{this.image.secure_url}}">
						</div>
						<div class="face back">
							<h3>{{this.title}}</h3>
							<span>{{this.desc}}</span>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<p class="desc">{{static.AboutUs}}</p>
		</section>
	</div>

	<div class="arrow-up" onclick="scrollToDiv('.splash')">
		<i class="fas fa-chevron-up up-icon" onclick="toggleSidebar()"></i>
	</div>

	<div class="paralex-container">
		{{#each sections}}
		<section class="module parallax" style="background-image: url('{{this.background.secure_url}}')">
			<div class="container">
			</div>
		</section>
		<!--first section -->
		<section class="module content {{this.section_color}}">
			<div class="container" id="{{this.sectionid}}">
				<h2>{{this.title}}</h2>
				{{{this.content}}}
			</div>
		</section>
		{{/each}}
	</div>

</div>
<div class="container white">
	<div id="footer">
		&copy; UTS Consulting Club 2019<br><br>
		<div class="social-container">
			{{#each socials}}
			<a href="{{this.link}}">
				<img class="social-image" src="{{this.icon.secure_url}}">
			</a>
			{{/each}}
		</div>
	</div>